
$headSize: 60px; // 顶部操作栏的高度
$menuSize: 275px; // 菜单列表的宽度
$operatorSize: 275px; // 右侧编辑详情的宽度

$ibc: #dcdfe6; // border color边框颜色
$ibl: #ebeef5; // border color light 边框颜色：轻
$itc: #314659; // text color，字体颜色
$icc: rgba(0, 0, 0, 0.45); // icon color，图标颜色
$boxShadowColor: #f0f1f2; // 阴影的颜色

$primary: #409EFF; // 主色调

.visual-editor {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-color: white;

    &:before {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(black, 0.1);
        content: '',
    }
    & > .visual-editor-menu {
        position: absolute;
        width: $menuSize;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;

    }
    & > .visual-editor-operator {
        position: absolute;
        width: $operatorSize;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #314659;

    }
    & > .visual-editor-head {
        position: absolute;
        height: $headSize;
        top: 0;
        left: $menuSize;
        right: $operatorSize;
        background-color: #409eff;

    }
    & > .visual-editor-body {
        padding-top: $headSize;
        padding-left: $menuSize;
        padding-right: $operatorSize;
        box-sizing: border-box; // 如果不加这个会使内容无视外面的下边距
        height: 100%;
        background-color: skyblue;

        & > .visual-editor-content{
            height: 100%;
            width: 100%;
            overflow: auto;
        }

    }
}
